<template >
    <div>
        <h2>{{$t('UserDetails.update-account-header')}}</h2>
        <p>
        <router-link
        :to="{
          name: 'My Account',
          params: { LANG: GET_LOCALE },
        }"
        >{{$t('General.back')}}</router-link
      ></p>
      <p class="text-caption" v-html="$t('UserDetails.apologies')" />
        <v-btn @click="toggleUpdateEmail()">{{$t('UserDetails.update-email-form-button')}}</v-btn>
        <div v-if="openEmailForm === true">
        <update-account-details-form/>
        </div>
        <div>
          <p/>
           <delete-account-btn/>
        </div>
</div>
  </template>
  
  <script>
  import { mapGetters, mapActions } from "vuex";
  import UpdateAccountDetailsForm from "./UpdateAccountDetailsForm.vue";
  import DeleteAccountBtn from "../partials/DeleteAccountBtn.vue";
  
  export default {
    name: "UpdateAccountDetailsPage",
    components: {
    UpdateAccountDetailsForm,
    DeleteAccountBtn
  },
    data: function () {
    return {
        openEmailForm: false,
    }},
    mounted() {},
    computed: {
      ...mapGetters("UserStore", ["getEmailUpdateUI"]),
    },
    methods: {
      ...mapActions("UserStore", ["UPDATE_USER_EMAIL", "logout"]),
      toggleUpdateEmail(){
        this.openEmailForm = !this.openEmailForm
      }
    },
  };
  </script>
  