<template>
  <v-row align="center" justify="center" id="auth-page">
    <v-col cols="12" lg="6" md="8" align="center" justify="center">
      <HomeBtn />
     <AuthWidget />
    </v-col>
  </v-row>
</template>

<script>
import AuthWidget from "../components/auth/AuthWidget.vue";
import HomeBtn from "../components/partials/HomeBtn.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "AuthPage",
  components: {
    AuthWidget,
    HomeBtn,
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "isEmailVerified",
      "userLanguage",
      "redirectAfterAuth"
    ]),
  },
  mounted() {
    if (this.isLoggedIn) {
      if (this.isEmailVerified) {
        if (!this.redirectAfterAuth) {
          this.$router.push({
            name: "Home",
            params: { LANG: this.userLanguage },
          });
        } else {
          this.$router.push({
            path: this.redirectAfterAuth,
            params: { LANG: this.userLanguage },
          });
        }
      } else {
        this.$router.push({
          name: "Confirm page",
          params: { LANG: this.userLanguage },
        });
      }
    } else {
      this.changeRedirectAfterAuth(this.$route.params.redirectAfterAuth);
    }
    // console.log("Make PKCE [AuthPage]");
    // this.makePKCE();
  },
  methods: {
    ...mapActions("UserStore", ["makePKCE", "changeRedirectAfterAuth"]),
  },
};
</script>
