<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        lg="6"
        md="6"
        align="center"
        justify="center"
        v-for="(item, index) in this.GET_ONBOARDING_SUBWIKIS"
        :key="index"
      >
      <SubwikiCard :item="item" />

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import SubwikiCard from "../partials/SubwikiCard.vue"

export default {
  name: "OnboardingSubwikis",
  components: {
    SubwikiCard,
  },
  data: function () {
    return {
      subwikis: [
        {
          language: "en",
          subwikis: [
            "world-news",
            "technology",
            "artificial-intelligence",
            "music",
            "photography",
            "the-ultimate-in-casual-chit-chat",
            "wts2-ui-and-ux",
            "wts2-bugs",
          ],
        },
        {
          language: "de",
          subwikis: [
              "forum-wts2-deutsch----",
              "verbesserungsvorschl-ge-und-fehlermeldungen",
              "was-h-rst-du-gerade",
              "caf--smalltalk",
          ],
        },
        {
          language: "pt",
          subwikis: [
            "wts2-ui-and-ux",
            "technology",
            "wts2-bugs",
            "the-ultimate-in-casual-chit-chat",
          ],
        },
        {
          language: "es",
          subwikis: [
            "wts-ui-y-ux-espa-ol",
            "technolog-a",
            "wts2-bugs-espa-ol",
            "charla-informal",
          ],
        },
        {
          language: "ru",
          subwikis: [
            "wts2-ui-and-ux",
            "technology",
            "wts2-bugs",
            "the-ultimate-in-casual-chit-chat",
          ],
        },
      ],
      getSubwikisByLanguage: {},
    };
  },
  computed: {
    ...mapGetters("SubWikiStore", ["GET_ONBOARDING_SUBWIKIS"]),
    ...mapGetters("UserStore", ["userLanguage"]),
  },
  async mounted() {
    await this.getLangSubwikis();

  },
  methods: {
    ...mapActions("SubWikiStore", ["FETCH_SUBWIKI_CARD_DETAIL", "FETCH_SUBWIKI_BATCH"]),
    getLangSubwikis() {
      this.getSubwikisByLanguage = {};
      this.getSubwikisByLanguage = this.subwikis.filter((obj) => {
        return obj.language === this.userLanguage;
      });
      this.FETCH_SUBWIKI_BATCH(
        {
          'batchtoget': this.getSubwikisByLanguage[0]['subwikis'],
          'type': "OnboardingSubwikis"
        })
    }
  },
};
</script>