<template>
  <div>

    <v-progress-linear
      v-if="!allReady"
      indeterminate
      :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
    ></v-progress-linear>
    <template v-else>
      <ProfileHeader :userSlug="userSlug" :minimised="true"/>
      <v-row>
        <v-col>
          <h1>
            <template v-if="ratedByUser" v-html="$t('Trust.users-rated-by')" />
            <template v-else v-html="$t('Trust.users-who-rated')" />
            {{ getUserProfile.fname }} {{ getUserProfile.lname }}
          </h1>
        </v-col>
      </v-row>
      <v-row v-if="!GET_TRUST_FETCHING && GET_TRUST_OVERVIEW.length > 0">
        <v-col cols="6" v-for="(trust, t) in GET_TRUST_OVERVIEW" v-bind:key="t"
          ><v-card elevation="0" color="wts2panelcolor">
            <v-card-text>
              <v-row>
                <v-col cols="2">
                  <UserBtn
                    displayMode="pic"
                    :user="
                      ratedByUser
                        ? trust.data.parentUser
                        : trust.data.createdByUser
                    "
                    class="mr-2"
                  />
                </v-col>
                <v-col>
                  <UserBtn
                    displayMode="name"
                    :user="
                      ratedByUser
                        ? trust.data.parentUser
                        : trust.data.createdByUser
                    "
                  />
                  (<template v-if="ratedByUser">{{  trust.data.parentUser.trustLevelInfo.aka }}</template><template v-else>{{  trust.data.createdByUser.trustLevelInfo.aka }}</template>)
                  
                  <template v-if="ratedByUser" v-html="$t('Trust.user-was-rated-x-by-user2', 
                    {trustLevel:trust.trustLevel, user2:trust.data.createdByUser.fname})" />
                  <template v-else v-html="$t('Trust.user-rated-user2-x', 
                    {trustLevel:trust.trustLevel, user2:trust.data.parentUser.fname})" />
                  <DateOut :datein="trust.createdAt" />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else-if="!GET_TRUST_FETCHING">
        <v-col>
          <template v-if="ratedByUser">
            {{ getUserProfile.fname }} has not rated any users
          </template>
          <template v-else>
            No users have rated {{ getUserProfile.fname }}
          </template>
        </v-col>
      </v-row>
    </template>
  </div>
</template>
<script>
import Vue from "vue";

import { mapGetters, mapActions } from "vuex";
import UserBtn from "./components/partials/UserBtn.vue";
import DateOut from "./components/partials/DateOut.vue";
import ProfileHeader from "./components/userprofile/ProfileHeader.vue";

export default {
  name: "TrustOverview",
  components: { UserBtn, DateOut, ProfileHeader },
  data: function () {
    return {
      profileDataReady: false,
      userSlug: this.$route.params.userSlug,
      ratedByUser: this.$route.meta.ratedByUser,
    };
  },
  watch: {
    "$route.meta.ratedByUser": {
      handler: function (ratedByUser) {
        console.log({ ratedByUserChange: ratedByUser })
        if (ratedByUser != this.ratedByUser) {
          Vue.nextTick(() => {
            this.ratedByUser = ratedByUser;
            this.init();
          });
        }
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("TrustStore", ["GET_TRUST_OVERVIEW", "GET_TRUST_FETCHING"]),
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_HAS_PROFILE_LOADED",
    ]),
    allReady() {
      return this.profileDataReady && !this.GET_TRUST_FETCHING;
    },
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("TrustStore", ["FETCH_USER_TRUST", "CLEAR_TRUST_OVERVIEW"]),
    ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),
    async init() {
      this.CLEAR_TRUST_OVERVIEW();
      this.FETCH_USER_TRUST({
        userSlug: this.userSlug,
        direction: this.ratedByUser ? "rated-by" : "rated",
      });
      if (!this.GET_HAS_PROFILE_LOADED.includes(this.userSlug)) {
        await this.FETCH_USER_PROFILE(this.userSlug);
        this.profileDataReady = true;
      } else { 
        this.profileDataReady = true;
      }
    },
  },
};
</script>
