<template>
  <v-dialog v-model="DIALOG" width="500">
    <v-card v-if="BLOCK_GET_USER && BLOCK_GET_USER.fname">
      <v-card-title class="text-h5 grey lighten-2">
       Block User
       
      </v-card-title>
      <template v-if="submitting">
        <v-card-text class="my-4" >
          <v-progress-linear indeterminate color="primary"></v-progress-linear>
        </v-card-text>
      </template>
      <template v-else>
        <v-card-text>
          <v-row class="pt-4">
            <v-col cols="1">

              <UserBtn
              :user="BLOCK_GET_USER"
              displayMode="pic"
              class="mr-2"
              />  
            </v-col>
            <v-col>
              <div class="d-inline-block pl-2 pt-1">

                <UserBtn
                :user="BLOCK_GET_USER"
                displayMode="name"
                class="mr-2"
                />
              </div>
          </v-col>
          </v-row>
          <p> 
          
          {{ $t("Block.resaon-explainer") }}</p>
          <p>
            <a href="#" @click.prevent="redirectToManage()">
              {{ $t("Block.click-manage-blocks") }}
            </a>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-textarea
            outlined
            :label="$t('Block.reason-textarea-label')"
            v-model="REASON"
          ></v-textarea>
        </v-card-actions>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey" text @click="CLOSE_BLOCK_DIALOG()">{{ $t("General.cancel") }}</v-btn>
          <v-btn color="primary" text @click="handleSave()">Block</v-btn>
        </v-card-actions>
      </template>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import UserBtn from "./partials/UserBtn.vue";

export default {
  data() {
    return {
      submitting: false,
    };
  },
  components: {
    UserBtn,
  },
  computed: {
    ...mapGetters("BlockUser", [
      "GET_SHOW_DIALOG",
      "BLOCK_GET_USER",
      "GET_REASON_FOR_BLOCK",
    ]),
    DIALOG: {
      get() {
        return this.GET_SHOW_DIALOG;
      },
      set(value) {
        if (value) {
          this.TOGGLE_BLOCK_DIALOG(value);
        } else {
          this.CLOSE_BLOCK_DIALOG();
        }
      },
    },
    REASON: {
      get() {
        return this.GET_REASON_FOR_BLOCK;
      },
      set(value) {
        this.CHANGE_REASON_FOR_BLOCK(value);
      },
    },
  },
  mounted() {
    this.submitting = false;
  },
  methods: {
    ...mapActions("BlockUser", [
      "TOGGLE_BLOCK_DIALOG",
      "CLOSE_BLOCK_DIALOG",
      "CHANGE_REASON_FOR_BLOCK",
      "SAVE_AND_CLOSE",
    ]),
    redirectToManage() {
      this.CLOSE_BLOCK_DIALOG();
      this.$router.push({ name: "User Blocks" });
    },
    async handleSave() {
      this.submitting = true;
      await this.SAVE_AND_CLOSE();
      this.submitting = false
    },
  },
};
</script>
