<template>
  <div class="text-center">
    <v-dialog v-model="DIALOG" width="500">
      

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
           {{  $t('Block.alert-title-blocking-admin-not-allowed') }}
        </v-card-title>

        <v-card-text>
            <p class="mt-3">{{  $t('Block.alert-text-blocking-admin-not-allowed') }}</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="DIALOG = false"> {{ $t('okay') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      dialog: false,
    };
  },
  computed: {
    ...mapGetters("BlockUser", ["GET_CANNOT_BLOCK_ADMIN_DIALOG"]),
    DIALOG: {
      get() {
        return this.GET_CANNOT_BLOCK_ADMIN_DIALOG;
      },
      set(value) {
        this.UPDATE_ADMIN_BLOCK_DIALOG(value);
      },
    },
  },
  methods: {
    ...mapActions("BlockUser", ["UPDATE_ADMIN_BLOCK_DIALOG"]),
  },
};
</script>
