<template>
  <v-card 
  :color="$vuetify.theme.dark ? '#333232' : 'yellow lighten-4'"
  class="change-list">
    <v-card-title
      >{{ $t('General.changes') }} {{ GET_DATE_PREFIX.year }}-{{
        GET_DATE_PREFIX.month
      }}
      <v-btn @click="FETCH_CHANGE_LIST()" small :right="true" :absolute="true">
        <v-icon 
        :color="$vuetify.theme.dark ? '#878a01' : 'green'"
        >mdi-refresh</v-icon>
      </v-btn>
    </v-card-title>

    <v-card-text>
      <div
        v-if="GET_CHANGE_LIST_FETCHED && GET_CHANGE_LIST.length > 0"
      >
        <p v-for="(change, c) in GET_CHANGE_LIST" v-bind:key="c">
          <DateOut :datein="change.createdAt" /><br />
          <v-chip class="mr-2"><UserBtn :user="change.data.user" /></v-chip>

          <a v-if="change.changeLabel" :alt="change.parentSlug" @click="handleClick(change)">{{ $t(change.changeText) }} ({{change.changeLabel}})</a>
          <a v-else :alt="change.parentSlug" @click="handleClick(change)">{{ $t(change.changeText) }}</a>
        
        </p>
      </div>

      <v-progress-linear
        v-else-if="!GET_CHANGE_LIST_FETCHED"
        indeterminate
        color="yellow darken-2"
      ></v-progress-linear>
      <NoticeChip v-else :text="$t('General.there-are-no-changes-to-show')" />
    </v-card-text>
    <v-card-actions align="center">
      <v-layout row>
        <v-flex justify-center>
          <v-btn
            @click="
              CHANGE_DATE_PREFIX_PART({
                part: 'month',
                value: parseInt(GET_DATE_PREFIX.month) - 1,
              })
            "
          >
            <v-icon 
            :color="$vuetify.theme.dark ? '#878a01' : 'green'"
            >mdi-arrow-left-bold-circle-outline</v-icon>
          </v-btn>

          <v-icon 
          :color="$vuetify.theme.dark ? '#878a01' : 'green'">mdi-calendar-month-outline</v-icon>
          <v-btn
            @click="
              CHANGE_DATE_PREFIX_PART({
                part: 'month',
                value: parseInt(GET_DATE_PREFIX.month) + 1,
              })
            "
          >
            <v-icon 
            :color="$vuetify.theme.dark ? '#878a01' : 'green'">mdi-arrow-right-bold-circle-outline</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-actions>
  </v-card>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import DateOut from "./partials/DateOut.vue";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import UserBtn from "./partials/UserBtn.vue";

export default {
  name: "ChangeList",
  data: function () {
    return {};
  },
  components: { DateOut, NoticeChip, UserBtn },
  created() {},
  computed: {
    ...mapGetters("ChangeStore", [
      "GET_CHANGE_LIST",
      "GET_CHANGE_LIST_PAGE",
      "GET_CHANGE_LIST_FETCHED",
      "GET_DATE_PREFIX",
    ]),
    ...mapGetters("UserStore", ["userLanguage"])

  },
  mounted() {
    let date = new Date();

    this.CHANGE_DATE_PREFIX_PART({ part: "year", value: date.getFullYear() });
    this.CHANGE_DATE_PREFIX_PART({ part: "month", value: date.getMonth() + 1 });

    this.FETCH_CHANGE_LIST();
  },
  methods: {
    ...mapActions("ChangeStore", [
      "FETCH_CHANGE_LIST",
      "CHANGE_DATE_PREFIX_PART",
    ]),
    genLink(change) {
      return (change.uri) ? change.uri.replace(':lang', this.userLanguage) : '-nouri-';
    },
    
    // This is a little hack-y but we've decided to keep it for now
    // The links are generated from the database but obviously we need to insert the user's
    // language in the url. We also need to change userprofile to user in order for the links to
    // work. 
    // The downside is that you can't right click on the links when viewing on the website. 
    // Ideally we will fix this in future

    handleClick(change) {
      if(this.genLink(change).includes('userprofile')){
        let newProfileURL = this.genLink(change).replace(/userprofile/g, "user")
        this.$router.push({ path: newProfileURL });  
      }
      else{
        this.$router.push({ path: this.genLink(change) });
      }
    }
  },
};
</script>
