<template>
  <div class="fake-user">
    <v-row>
      <v-col>
        <v-text-field
          v-model="FAKEUSER_LABEL"
          placeholder="eg. Star Lord"
          label="Fake User Label/Name"
        />
      </v-col>
      <v-col>
        <v-text-field
          v-model="FAKEUSER_SLUG"
          placeholder="eg. star-lord"
          label="Fake User Slug"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "FakeUser",
  data: function() {
    return {};
  },
  mounted() {},
  computed: {
    ...mapGetters("UserStore", ["GET_USER"]),
    FAKEUSER_LABEL: {
      get() {
        return this.GET_USER.label;
      },
      set(value) {
        this.UPDATE_FAKE_USER_LABEL(value);
      },
    },
    FAKEUSER_SLUG: {
      get() {
        return this.GET_USER.slug;
      },
      set(value) {
        this.UPDATE_FAKE_USER_SLUG(value);
      },
    },
  },
  methods: {
    ...mapActions("UserStore", [
      "UPDATE_FAKE_USER_LABEL",
      "UPDATE_FAKE_USER_SLUG",
    ]),
  },
};
</script>
