<template>
  <div>
      <div class="browsesubwikitop">
        <v-card-title
          >{{ $t("MySubwikis.my-subwikis") }}</v-card-title
        >
      </div>
      <div v-if="this.GET_NO_SUBWIKIS_FOLLOWED === true">
        <v-row>
          <v-col class="d-flex justify-center">
            <p>{{ $t('MySubwikis.not-following-subwikis') }}</p>
          </v-col>
        </v-row>
        <v-row>  
              <v-col class="d-flex justify-center">
            <v-btn
            router-link
                :to="{
                    name: 'Subwikis',
                    params: { LANG: this.userLanguage },
                  }"
            >
            {{ $t('MySubwikis.browse-subwikis') }}</v-btn>
          </v-col>
        </v-row>
        </div>
        <div v-else-if="this.GET_NO_SUBWIKIS_FOLLOWED === false && this.GET_FOLLOWING_SUBWIKI_LIST.length === 0">
        <v-progress-linear
          indeterminate
          color="green darken-2"
        ></v-progress-linear></div>
        <div v-if="this.GET_FOLLOWING_SUBWIKI_LIST.length > 0">
          <v-row>
            <v-col class="d-flex justify-center">
              <v-item-group>
                <v-item
                  v-for="(item, index) in totalNumberOfPages"
                  :key="index"
                >
                  <v-chip
                    :color="$vuetify.theme.dark ? 'wtsblack' : 'wtsgrey1'"
                    @click="goToPage(item)"
                    >{{ item }}</v-chip
                  >
                </v-item>
              </v-item-group>
            </v-col>
          </v-row>
        </div>
      <div v-if="this.GET_FOLLOWING_SUBWIKI_LIST.length > 0">
        <v-row
          v-for="(item, index) in this.GET_FOLLOWING_SUBWIKI_LIST"
          :key="index"
        >
          <v-col
            v-if="index >= currentIndices[0] && index <= currentIndices[1]"
            cols="24"
            lg="12"
            md="12"
            align="center"
            justify="center"
          >
            <SubwikiCard :item="item" />
          </v-col>
        </v-row>
      <div>
        <v-row>
          <v-col>
            <v-btn
              v-if="this.currentSubwikiPage > 0"
              elevation="0"
              class="my-2 ml-2"
              :color="$vuetify.theme.dark ? '#88b811' : 'primary'"
              @click="incrementPage(0)"
              >{{ $t("General.back") }}</v-btn
            >
          </v-col>
          <v-col align="right">
            <v-btn
              v-if="this.currentSubwikiPage < (this.totalNumberOfSubwikis - 1)"
              elevation="0"
              class="my-2 mr-2"
              :color="$vuetify.theme.dark ? '#88b811' : 'primary'"
              @click="incrementPage(2)"
              >{{ $t("General.next") }}</v-btn
            >
          </v-col>
        </v-row>
      </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import SubwikiCard from "../components/partials/SubwikiCard.vue";

export default {
  name: "MySubwikis",
  components: {
    SubwikiCard,
  },
  data: function () {
    return {
      currentSubwikiPage: 0,
      isLoading: false,
      currentIndices: [0, 9],
    };
  },
  computed: {
    ...mapGetters("SubWikiStore", ["GET_FOLLOWING_SUBWIKI_LIST", "GET_NO_SUBWIKIS_FOLLOWED"]),
    ...mapGetters("UserStore", ["userLanguage"]),
    totalNumberOfSubwikis() {
      if (this.GET_FOLLOWING_SUBWIKI_LIST.length <= 10) {
        return 0;
      } else {
        if (this.GET_FOLLOWING_SUBWIKI_LIST.length % 10 > 0) {
          return Math.floor(this.GET_FOLLOWING_SUBWIKI_LIST.length / 10 + 1);
        } else {
          return Math.floor(this.GET_FOLLOWING_SUBWIKI_LIST.length / 10 - 1);
        }
      }
    },
    totalNumberOfPages() {
      let pageNumbers = Array.from(
        { length: this.totalNumberOfSubwikis },
        (x, i) => i + 1
      );
      return pageNumbers;
    },
    pageWeAreOn() {
      return this.currentSubwikiPage + 1;
    },
  },
  async mounted() {
    await this.FETCH_WHO_I_FOLLOW();
    this.calculateIndices(0);
  },
  methods: {
    ...mapActions("SubWikiStore", [
      "FETCH_SUBWIKI_CARD_DETAIL",
      "SET_CURRENT_BROWSE_SUBWIKIS",
    ]),
    ...mapActions("FollowStore", ["FETCH_WHO_I_FOLLOW"]),
    goToPage(number) {
      this.currentSubwikiPage = number - 1;
      console.log(this.currentSubwikiPage);
      this.calculateIndices(this.currentSubwikiPage);
    },
    calculateIndices(currentSubwikiPage) {
      if (this.currentSubwikiPage === 0) {
        this.currentIndices = [0, 9];
      } else {
        let newIndices = currentSubwikiPage * 10;
        this.currentIndices = [newIndices, newIndices + 10];
      }
      window.scrollTo(0, 0);
    },
    incrementPage(number) {
      this.currentSubwikiPage = this.currentSubwikiPage + number
      this.goToPage(this.currentSubwikiPage)
    }
  },
};
</script>

<style scoped>
.browsesubwikicard {
  border: 1px;
  border-style: solid;
  border-color: #f5f5f5;
}

.browsesubwikitop {
  border-bottom: 2px solid #f5f5f5;
}

.browsesubwikibottom {
  border-top: 2px solid #f5f5f5;
}

.browsesubwikitop .v-card__title {
  word-break: normal;
  display: block;
  text-align: center;
  line-height: 1.5;
}
</style>
