<template>
  <div class="post-create-form">
    <div v-if="!submitting">
      <ContentEditor identifier="PostCreate" />

      <template v-if="GET_NEW_POST_CARD_URL">
        <SpiderCard :url="GET_NEW_POST_CARD_URL" :loadquick="true" />
        <v-btn @click="removeCard()"
          ><v-icon>mdi-card-remove</v-icon>{{ $t("General.remove") }}</v-btn
        >
      </template>

      <v-card class="my-4" outlined elevation="0">
        <v-card-text>
          <template v-if="!disableSubwikiSelect">
            <h5>{{ $t("Post.where") }}</h5>
            <v-radio-group
              mandatory
              v-model="chosenDestination"
              row
              class="mt-2"
            >
              <v-radio
                class="flex-row justify-center"
                v-for="(dest, i) in postDestinations"
                :key="i"
                :label="$t(dest.label)"
                :value="dest.value"
                :prepend-icon="[dest.value == 'subwiki' ? 'fa-users' : '']"
              ></v-radio>
            </v-radio-group>
            <template v-if="chosenDestination == 'subwiki'">
              <v-autocomplete
                v-model="NEWPOST_SUBWIKI"
                :items="GET_SUBWIKI_LIST"
                :loading="isLoading"
                item-text="subwikiLabel"
                :search-input.sync="search"
                filled
                chips
                hide-no-data
                hide-selected
                :label="$t('Post.to-branch')"
                :placeholder="$t('Post.branch-search')"
                return-object
              >
                <template v-slot:selection="data">
                  <v-chip color="wtsgreen1" class="mt-2 white--text rounded">{{
                    data.item.subwikiLabel
                  }}</v-chip>
                </template>
              </v-autocomplete>
            </template>
          </template>
          <h5>
            {{
              $t("Post.do-you-want-other-users-to-be-able-to-edit-this-post")
            }}
          </h5>

          <v-checkbox
            :value="true"
            v-model="NEWPOST_COLLABORATIVE"
            :label="$t('Post.collaborative')"
          />
        </v-card-text>
      </v-card>
    </div>
    <v-progress-linear
      v-if="submitting"
      indeterminate
      color="blue darken-2"
    ></v-progress-linear>
    <div v-if="!submitting" class="text-right">
      <v-btn
        elevation="0"
        :disabled="disablePostButton()"
        big
        :color="$vuetify.theme.dark ? 'wtsgreen1' : 'wtsgreen1'"
        class="my-2 white--text"
        v-on:click.prevent="submitPost()"
        >{{ $t("Post.post") }}</v-btn
      >
      <v-btn @click="SET_SHOW_POSTCREATE(false)">
        <v-icon small>fa-close</v-icon>
        {{ $t("General.cancel") }}
      </v-btn>
    </div>
    <div class="text-center">
      <p>{{ GET_POST_UI_FEEDBACK }}</p>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import ContentEditor from "./ContentEditor.vue";
import SpiderCard from "./partials/SpiderCard.vue";
import debounce from "lodash/debounce";

export default {
  name: "PostCreate",
  props: ["disableSubwikiSelect"],
  components: { ContentEditor, SpiderCard },
  data: function () {
    return {
      identifier: "PostCreate",
      submitting: false,
      chosenDestination: "",
      postDestinations: [
        { label: "Post.my-profile", value: "myprofile" },
        { label: "Post.a-branch", value: "subwiki" },
      ],
      descriptionLimit: 60,
      entries: [],
      isLoading: false,
      model: null,
      search: null,
      handleDebouncedSearch: null,
    };
  },
  watch: {
    search(value) {
      console.log("Search: " + value);
      this.handleDebouncedSearch();
      // if (this.isLoading) return;
    },
    chosenDestination(value) {
      if (value == "userprofile") {
        let currentRouteUserSlug = this.$route.params.userSlug;
        this.UPDATE_NEW_POST_PARENT({
          parent: {
            slug: currentRouteUserSlug,
            sk: "userprofile#" + currentRouteUserSlug,
          },
          mode: "userprofile",
        });
      } else if (value == "myprofile") {
        this.UPDATE_NEW_POST_PARENT({
          parent: {
            slug: this.userProfile.slug,
            sk: "userprofile#" + this.userProfile.slug,
          },
          mode: "userprofile",
        });
      } else if (value == "subwiki") {
        if (this.$route.name == "Subwiki") {
          this.UPDATE_NEW_POST_PARENT({
            parent: {
              slug: this.GET_CURRENT_SUBWIKI.slug,
              sk: this.GET_CURRENT_SUBWIKI.sk,
            },
            mode: "subwiki",
          });
        } else {
          this.UPDATE_NEW_POST_PARENT({
            parent: {},
            mode: "subwiki",
          });
        }
      }
    },
    async contentToWatch(newValue) {
      let tmp = document.createElement("DIV");
      tmp.innerHTML = newValue;
      let text = tmp.textContent || tmp.innerText || "";
      var regexp = /(https?:\/\/[^\s]+)/g;
      this.links = [...text.matchAll(regexp)];
      let linktofetch = this.links?.[0]?.[0];
      if (this.links[0] && !this.GET_IGNORE_LINKS.includes(linktofetch)) {
        this.UPDATE_NEW_POST_CARD_URL(linktofetch);
      }
    },
    GET_POST_UI_FEEDBACK() {

      if (this.GET_SHOW_POSTCREATE) {
        setTimeout(() => {
          this.submitting = false;
          this.SET_SHOW_POSTCREATE(false);
          window.scrollTo(0, 0);
        }, 850);
      }
    },
  },
  mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("PostStore", [
      "GET_NEW_POST",
      "GET_POST_UI_FEEDBACK",
      "GET_NEW_POST_SUBWIKI",
      "GET_NEW_POST_TEXT",
      "GET_NEW_POST_COLLABORATIVE",
      "GET_NEW_POST_CARD_URL",
      "GET_IGNORE_LINKS",
      "GET_NEW_POST_PARENT",
    ]),
    ...mapGetters("SubWikiStore", [
      "GET_SUBWIKI_LIST",
      "GET_CURRENT_SUBWIKI",
      "GET_HAS_SUBWIKI_LOADED",
    ]),
    ...mapGetters("WYSIWYGStore", ["GET_CONTENT"]),
    ...mapGetters("UserStore", ["userProfile"]),
    ...mapGetters("UserProfileStore", ["IS_MY_PROFILE"]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_POSTCREATE"]),

    contentToWatch() {
      return this.GET_CONTENT(this.modeOfUse, this.identifier);
    },
    NEWPOST_SUBWIKI: {
      get() {
        return this.GET_NEW_POST_SUBWIKI;
      },
      set(value) {
        this.UPDATE_NEW_POST_SUBWIKI(value);
      },
    },
    fields() {
      if (!this.NEWPOST_SUBWIKI) return [];

      return Object.keys(this.NEWPOST_SUBWIKI).map((key) => {
        return {
          key,
          value: this.NEWPOST_SUBWIKI[key] || "n/a",
        };
      });
    },

    NEWPOST_TEXT: {
      get() {
        return this.GET_NEW_POST_TEXT;
      },
      set(value) {
        this.UPDATE_NEW_POST_TEXT(value);
      },
    },

    NEWPOST_COLLABORATIVE: {
      get() {
        return this.GET_NEW_POST_COLLABORATIVE;
      },
      set(value) {
        this.UPDATE_NEW_POST_COLLABORATIVE((value) ? true : false);
      },
    },
    modeOfUse() {
      if (typeof this.identifier == "undefined") {
        return "post";
      } else if (this.identifier == "NewPost") {
        return "post";
      } else if (this.identifier.startsWith("post-")) {
        return "comment";
      } else if (this.identifier == "Edit") {
        return "edit";
      } else {
        return "post";
      }
    },
  },
  methods: {
    ...mapActions("PostStore", [
      "CREATE_NEW_POST",
      "RESET_POST",
      "UPDATE_NEW_POST_TEXT",
      "UPDATE_NEW_POST_PARENT",
      "UPDATE_NEW_POST_CARD_URL",
      "UPDATE_NEW_POST_SUBWIKI",
      "DETACH_LINK_CARD",
      "UPDATE_NEW_POST_COLLABORATIVE",
    ]),
    ...mapActions("SubWikiStore", ["SEARCH_SUBWIKIS"]),
    ...mapActions("InterfaceStore", ["SET_SHOW_POSTCREATE"]),
    init() {
      console.log(
        "---------------------------PostCreate - init------------------------------"
      );
      window.scrollTo(0, 0);
      console.log("We init...");
      this.RESET_POST();
      this.handleDebouncedSearch = debounce(this.performSearch, 200);
      if (this.IS_MY_PROFILE(this.$route.params.userSlug)) {
        this.chosenDestination = "myprofile";
      } else if (this.$route.name.includes("User Profile")) {
        this.chosenDestination = "userprofile";
      } else if (this.$route.name == "Subwiki") {
        this.chosenDestination = "subwiki";
      }
    },
    removeCard() {
      this.DETACH_LINK_CARD();
    },
    submitPost() {
      this.submitting = true;
      this.CREATE_NEW_POST();
    },
    async performSearch() {
      console.log("performSearch");
      // Items have already been loaded
      // if (this.items.length > 0) return;

      // Items have already been requested
      if (this.isLoading) return;
      if (!this.search) return;

      this.isLoading = true;
      await this.SEARCH_SUBWIKIS(this.search.toLowerCase().trim());
      this.isLoading = false;
      // Lazily load input items
    },
    disablePostButton() {
      if (
        !this.NEWPOST_TEXT ||
        this.NEWPOST_TEXT.length == 0 ||
        this.NEWPOST_TEXT === "<p></p>" ||
        (this.chosenDestination == "subwiki" &&
          this.disableSubwikiSelect == false &&
          !this.NEWPOST_SUBWIKI?.slug)
      ) {
        return true;
      }
      return false;
    },
  },
};
</script>
