<template>
  <v-card color="wtsgrey" class="change-list" elevation="0">
    <v-card-title>{{ $t("General.revisions") }}</v-card-title>

    <v-card-text v-if="typeof revisionsFor != 'undefined'">
      <template v-if="GET_REVISION_LIST_FETCHED.includes(revisionsFor)">
      
        <template v-if="hasRevisions()">
          <template v-if="GET_REVISION_LIST.length == 1"> {{$t('RevisionList.there-is')}}</template>
          <template v-else>{{$t('RevisionList.there-are')}}</template>
          {{ GET_REVISION_LIST.length }}
          <template v-if="GET_REVISION_LIST.length == 1">{{$t('RevisionList.revision')}}</template>
          <template v-else>{{$t('RevisionList.revisions')}}</template>
        </template>
     
        <v-virtual-scroll
          :items="GET_REVISION_LIST"
          height="200"
          item-height="64"
        >
          <template v-slot:default="{ item }">
            <v-list-item v-if="item.slug" :key="item.slug"  class="wtsgrey lighten-2">
              <v-list-item-action>
                <router-link
                  :alt="item.slug"
                  class="d-inline mr-2"
                  :to="{
                    name: 'Read Revision',
                    params: {
                      LANG: userLanguage,
                      revisionNo: item.revisionNumber,
                    },
                  }"
                  >#{{ item.revisionNumber }}
                </router-link>
              </v-list-item-action>
              <v-list-item-content>
                <DateOut :datein="item.createdAt" displayas="inline" />
                <span class="d-inline">{{$t('RevisionList.by')}}</span>
                <a class="ml-1 d-inline" v-if="item.data.user" :alt="item.data.user.slug"
                  >{{ item.data.user.fname }} {{ item.data.user.lname }}</a
                >
              </v-list-item-content>
              <v-list-item-action>
                <v-icon
                  color="wtsblue"
                  :title="'Revert to #' + item.revisionNumber"
                  @click="initRevert(item.revisionNumber)"
                  
                  small
                  class="mx-1 revert-btn"
                >
                  fa-rotate-left</v-icon
                >
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-virtual-scroll>

        <v-dialog v-model="revertDialog" width="500">
         

          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              {{$t('RevisionList.revert-to')}} #{{ revertInProgress }}
            </v-card-title>

            <v-card-text>
              {{$t('RevisionList.confirm-revert')}}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="revertDialog = false">
                {{ $t("General.cancel") }}
              </v-btn>
              <v-btn color="primary" text @click="revertToRevision(revertInProgress)">
                Continue
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <v-progress-linear
        v-else
        indeterminate
        :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
      ></v-progress-linear>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import DateOut from "./partials/DateOut.vue";

export default {
  name: "RevisionList",
  props: ["revisionsFor"],
  data: function () {
    return { infoText: "", revertDialog: false, revertInProgress: null };
  },
  components: { DateOut },
  watch: {
    GET_LAST_SAVE() {
      this.revertDialog = false;
      if (this.$route.params.revisionNo) {
        this.$router.push({
          name: "Read", params: { LANG: this.userLanguage, readSlug: this.$route.params.readSlug }
        });
      }
    },

  },
  mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("PostStore", ["GET_POST_READING"]),
    ...mapGetters("EditStore", ["GET_LAST_SAVE"]),

    ...mapGetters("RevisionStore", [
      "GET_REVISION_LIST",
      "GET_REVISION_LIST_PAGE",
      "GET_REVISION_LIST_FETCHED",
    ]),
    ...mapGetters("UserStore", ["userLanguage"]),
    hasFetched() {
      return typeof this.GET_REVISION_LIST_FETCHED != "undefined" &&
        this.GET_REVISION_LIST_FETCHED.indexOf(this.revisionsFor) > -1
        ? true
        : false;
    },
  },
  methods: {
    ...mapActions("RevisionStore", ["FETCH_REVISION_LIST"]),
    ...mapActions("EditStore", [
      "UPDATE_OLD_TEXT",
      "UPDATE_NEW_TEXT",
      "UPDATE_EDIT_KEY",
      "SAVEEDIT_POST",
      "UPDATE_CURRENT_CONTEXT",
    ]),
    fetchData() {
      this.FETCH_REVISION_LIST(this.revisionsFor);
    },
    init() {
      this.infoText = "";
      if (this.revisionsFor && this.revisionsFor != "post/") {
        this.fetchData();
      }
    },
    initRevert(revisionNo) {
      this.revertInProgress = revisionNo;
      this.revertDialog = true;

    },
    hasRevisions() {
      if (typeof (this.GET_REVISION_LIST) == 'undefined' || this.GET_REVISION_LIST.length == 0) {
        return false;
      } else {
        return true;
      }
      

    },
    revertToRevision(revisionNo) {

      let k = this.GET_REVISION_LIST.length - revisionNo;
      this.UPDATE_CURRENT_CONTEXT("post");
      this.UPDATE_EDIT_KEY({
        pk: this.GET_POST_READING.pk,
        sk: this.GET_POST_READING.sk,
        slug: this.GET_POST_READING.slug,
      });
      //this.UPDATE_EDIT_SLUG(this.$route.params.readSlug);
      this.UPDATE_OLD_TEXT(this.GET_REVISION_LIST[k].revisionText);
      this.UPDATE_NEW_TEXT(this.GET_REVISION_LIST[k].revisionText);
      this.SAVEEDIT_POST();
     
    },
  },
};
</script>
<style lang="scss" scoped>
.change-list {
  .v-list-item {
    .v-list-item__action:first-child {
      margin-right: 0;
    }
    .v-list-item__content {
      & > * {
        flex: unset;
      }
    }
  }
}
</style>
