<template>
  <div>
    <RadioTabs  :radioselected="radioSelected" :userSlug="userSlug" :tablist="subTabs" parenttab="trust" tabbaseroute="User Profile - Trust - Radio selected" tabroute="direction"/>
    <v-progress-linear
      v-if="GET_TRUST_FETCHING"
      indeterminate
      :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
    ></v-progress-linear>
    <template v-else>
      <v-row v-if="!GET_TRUST_FETCHING && GET_TRUST_OVERVIEW.length > 0">
        <v-col cols="6" v-for="(trust, t) in GET_TRUST_OVERVIEW" v-bind:key="t"
          ><v-card elevation="0" color="wts2panelcolor">
            <v-card-text>
              <v-row>
                <v-col cols="2">
                  <UserBtn
                    displayMode="pic"
                    :user="
                      ratedByUser()
                        ? trust.data.parentUser
                        : trust.data.createdByUser
                    "
                    class="mr-2"
                  />
                </v-col>
                <v-col>
                  <UserBtn
                    displayMode="name"
                    :user="
                      ratedByUser()
                        ? trust.data.parentUser
                        : trust.data.createdByUser
                    "
                  />

                  <div v-if="ratedByUser()" v-html="$t('Trust.user-was-rated-x-by-user2', {trustLevel:trust.trustLevel, user2:trust.data.createdByUser.fname})" />
                  <div v-else v-html="$t('Trust.user-rated-user2-x', {trustLevel:trust.trustLevel, user2:trust.data.parentUser.fname})" />
                  <DateOut :datein="trust.createdAt" />
                  
                  <TrustRating
                    :userProfile="
                      ratedByUser()
                        ? trust.data.parentUser
                        : trust.data.createdByUser
                    "
                    
                  /><FollowBtn
                    :userProfile="ratedByUser()
                        ? trust.data.parentUser
                        : trust.data.createdByUser"
                  />
                  
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else-if="!GET_TRUST_FETCHING">
        <v-col>
          <div v-if="ratedByUser()" v-html="$t('Trust.user-has-not-rated-any-users', {user:getUserProfile.fname})" />
          <div v-else v-html="$t('Trust.no-users-have-rated-user', {user:getUserProfile.fname})" />
        </v-col>
      </v-row>
    </template>
  </div>
</template>
<script>
import Vue from "vue";

import { mapGetters, mapActions } from "vuex";
import i18n from "@/plugins/i18n";
import UserBtn from "../../partials/UserBtn.vue";
import DateOut from "../../partials/DateOut.vue";
import FollowBtn from "../../partials/FollowBtn.vue";
import TrustRating from "../../partials/TrustRating.vue";
import RadioTabs from "../../partials/RadioTabs.vue";

export default {
  name: "TrustTab",
  components: { FollowBtn, TrustRating, UserBtn, DateOut, RadioTabs },
  data: function () {
    return {
      subTabs: [
        { direction: "rated-by", label: i18n.t("Trust.rated-by-this-user"), ratedByUser: true },
        { direction: "rated", label: i18n.t("Trust.ratings-of-this-user"), ratedByUser: false },
      ],
      profileDataReady: false,
      userSlug: this.$route.params.userSlug,
      radioSelected: this.$route.params.radioSelected
        ? this.$route.params.radioSelected
        : "following-users",
    };
  },
  watch: {
    "$route.params.radioSelected": {
      handler: function (newRadioSelected) {
        if (newRadioSelected && newRadioSelected != this.radioSelected) {
          Vue.nextTick(() => {
            this.radioSelected = newRadioSelected;
            this.init();
          });
        } 
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("TrustStore", ["GET_TRUST_OVERVIEW", "GET_TRUST_FETCHING"]),
    ...mapGetters("UserProfileStore", [
      "IS_MY_PROFILE",
      "GET_USER_PROFILE",
      "GET_HAS_PROFILE_LOADED",
    ]),
    ...mapGetters("UserStore", ["userLanguage", "isThisTheUser"]),
    profileIsLoggedInUser() {
      return this.isThisTheUser(this.userSlug);
    },
    allReady() {
      return this.profileDataReady && !this.GET_TRUST_FETCHING;
    },
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("TrustStore", ["FETCH_USER_TRUST", "CLEAR_TRUST_OVERVIEW"]),
    ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),

    ratedByUser() {
     return this.radioSelected == "rated-by" ? true : false;
    },
    async init() {
      this.CLEAR_TRUST_OVERVIEW();
      console.log({
        init: {
          ratedByUser: this.ratedByUser(),
          userSlug: this.userSlug,
        },
      });
   
      this.FETCH_USER_TRUST({
        userSlug: this.userSlug,
        direction: this.radioSelected
      });

      if (this.profileIsLoggedInUser) {
        this.subTabs[0]['label'] = i18n.t("Trust.people-i-trust")
        this.subTabs[1]['label'] = i18n.t("Trust.people-who-trust-me")
      }
    },
  },
};
</script>
