<template>
  <div class="AuthWidget">
    <v-card
      v-if="!isLoggedIn"
      :color="$vuetify.theme.dark ? '#333232' : '#eeeded'"
    >
      <v-card-title>{{ $t("General.login-or-register") }}</v-card-title>
      <v-card-text>
        <v-tabs
          v-model="AUTHPAGE_TAB"
          :background-color="$vuetify.theme.dark ? '#35c71f' : '#35c71f'"
          grow
          color="white"
        >
          <v-tab
            :key="0"
            id="v-tab-login"
            :class="'text--white '+
              $vuetify.theme.dark ? 'V-Auth-Tab-Dark' : 'V-Auth-Tab-Light'
            "
            >{{ $t("General.login") }}</v-tab
          >
          <v-tab
            :key="1"
            id="v-tab-register"
            :class="'text--white '+
              $vuetify.theme.dark ? 'V-Auth-Tab-Dark' : 'V-Auth-Tab-Light'
            "
            >{{ $t("General.register") }}</v-tab
          >
        </v-tabs>

        <v-tabs-items v-model="AUTHPAGE_TAB">
          <v-tab-item :key="0" class="Login">
            <Login />
          </v-tab-item>
          <v-tab-item :key="1" class="Register">
            <Register />
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import Login from "./Login.vue";
import Register from "./Register.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: { Login, Register },


  computed: {
    ...mapGetters("UserStore", ["isLoggedIn", "authStatus", "userProfile", "authPageTab", "authErrors"]),
    AUTHPAGE_TAB: {
      get() {
        return this.authPageTab;
      },
      set(value) {
        this.UPDATE_AUTH_PAGE_TAB(value);
      },
    },
  },
  methods: {
    ...mapActions("UserStore", ["UPDATE_AUTH_PAGE_TAB"]),
  },
  watch: {

    authErrors(errors) {
      console.log({ AuthWidgetauthErrors: errors });
      this.submitted = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.V-Auth-Tab-Dark {
  color: white;
}

.V-Auth-Tab-Light {
  color: white;

}
</style>
