<template>

<v-dialog
          transition="dialog-bottom-transition"
          width="auto"
          height="auto"
          v-model="confirmModalOpen"
          location="top"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              color='wtsred'
            >Delete My Account</v-btn>
          </template>
            <template>
            <v-card>
                <v-card-title>Are you sure?</v-card-title>
                <v-divider></v-divider>
              <v-card-text>
                <div class="pa-4">This action cannot be undone.</div>
                <div v-if="GET_DEBUG.length" justify="center">
                  <ul v-for="(item, index) in GET_DEBUG" :key="index" style="color: red;">
              {{item}}
            </ul>
            </div>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn
                  text
                  elevation="0"
                  @click="confirmedDeletion(userSlug)"
                >Confirm</v-btn>
                <v-btn
                  text
                  elevation="0"
                  @click="closeModal()"
                >{{ $t("General.cancel") }}</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
        
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "DeleteAccountBtn",
    data() {
    return {
      confirmModalOpen: false
    };},
    computed: {
        ...mapGetters("UserStore", ["userLanguage", "userSlug"]),
        ...mapGetters("UserManagementStore", ["GET_DEBUG"])
    },
  methods: {
    ...mapActions("UserManagementStore", ["KICK_USER"]),
    ...mapActions("ModerationStore", ["ARCHIVE_USER"]),
    ...mapActions("UserStore", ["logout"]),
    closeModal(){
        this.confirmModalOpen = false
    },
    async confirmedDeletion(userSlug){
        console.log("BOOP")
        console.log(userSlug)
        await this.KICK_USER(userSlug)
        if(this.GET_DEBUG.length === 0){
            this.closeModal()
            this.logout()
        }
        else{
            console.log("Oh no!")
        }
        
    }
  }
};
</script>