<template>
  <span class="followbtn">
    <template v-if="stateHasLoaded && !is_viewing_user">
      <v-btn
        v-if="GET_FOLLOW_STATUS(followItem).following == false"
        elevation="0"
        :title="$t('General.follow') + followWhat()"
        :color="$vuetify.theme.dark ? '#826409' : 'yellow darken-1'"
        small
        @click="CREATE_FOLLOW_RELATIONSHIP(followItem)"
      >
        {{ $t("General.follow") }}
        <v-icon class="ml-2" small>fa-star-o </v-icon>
      </v-btn>

      <v-btn
        elevation="0"
        v-else-if="
          stateHasLoaded && GET_FOLLOW_STATUS(followItem).following == true
        "
        :title="'Unfollow ' + followWhat()"
        :color="$vuetify.theme.dark ? 'wtsgreen2' : 'grey lighten-2'"
        small
        @click="DELETE_FOLLOW_RELATIONSHIP(followItem)"
      >
        {{ $t("General.unfollow") }}
        <v-icon class="ml-2" small>fa-star </v-icon>
      </v-btn>
      <template v-if="useFollowPreferences">
        <v-icon
          @click.stop="dialog = true"
          class="ml-2"
          v-if="
            GET_FOLLOW_STATUS(followItem).following &&
            GET_FOLLOW_STATUS(followItem).preferences
          "
          color="wtsgreen2"
        >
          fa-cogs
        </v-icon>

        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              Notification Preferences
            </v-card-title>

            <v-card-text>
              <p>How would you like to be notififed about updates?</p>

              <p>
                <v-switch
                  v-model="NOTIFY_PREFERENCE"
                  label="Notify me"
                ></v-switch>
              </p>
              <h4>Email Options</h4>
              <p v-for="(o, p) in emailOptions" v-bind:key="'pref' + p">
                <v-switch
                  v-model="EMAIL_PREFERENCES"
                  :value="o.value"
                  :label="o.label"
                ></v-switch>
              </p>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialog = false"> Done </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </template>

    <v-btn v-else-if="!stateHasLoaded">
      <v-progress-circular
        indeterminate
        :width="3"
        :size="20"
        color="green darken-2"
      ></v-progress-circular>
    </v-btn>

    <span v-else-if="!is_viewing_user">
      {{ $t("General.item-cannot-be-followed") }}:
    </span>
  </span>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import debounce from "lodash/debounce";

export default {
  name: "FollowBtn",
  props: ["userProfile", "subwiki"],
  data: function () {
    return {
      dialog: false,
      useFollowPreferences: false,
      handleDebouncedSave: null,
      emailOptions: [
        { label: "Every Post", value: "emailNew" },
        { label: "Daily Digest", value: "emailDigestDaily" },
        { label: "Weekly Digest", value: "emailDigestWeekly" },
      ],
      followItem: {
        type: "",
        typeLabel: "",
        slug: "",
        name: "",
        parentSK: "",
      },
    };
  },
  async mounted() {
    if (!this.stateHasLoaded) {
      if (this.userProfile) {
        this.followItem = {
          type: "userprofile",
          typeLabel: "user",
          slug: this.userProfile.userSlug
            ? this.userProfile.userSlug
            : this.userProfile.slug,
          name: this.userProfile.fname,
          parentSK: "userprofile#"
            + (this.userProfile.userSlug
              ? this.userProfile.userSlug
              : this.userProfile.slug),
        };
      } else if (this.subwiki) {
        this.followItem = {
          type: "subwiki",
          typeLabel: "Subwiki",
          slug: this.subwiki.slug,
          name: this.subwiki.subwikiLabel,
          parentSK: "subwiki#" + this.subwiki.slug,
        };
      } else {
        console.log("Not enough information");
      }

      if (!await this.GET_FOLLOW_STATUS(this.followItem)) {
        await this.FETCH_FOLLOW_STATUS(this.followItem);
      }
    }
    this.handleDebouncedSave = debounce(this.SAVE_FOLLOW_EMAIL_CHOICES, 1000);
  },
  watch: {
    userProfile() {
      this.followItem = {
        type: "userprofile",
        typeLabel: "user",
        slug: this.userProfile.userSlug
          ? this.userProfile.userSlug
          : this.userProfile.slug,
        name: this.userProfile.fname,
        parentSK: "userprofile#"
          + (this.userProfile.userSlug
            ? this.userProfile.userSlug
            : this.userProfile.slug),
      };
      if (!this.GET_FOLLOW_STATUS(this.followItem)) {
        this.FETCH_FOLLOW_STATUS(this.followItem);
      }
    },
    subwiki() {
      this.followItem = {
        type: "subwiki",
        typeLabel: "Subwiki",
        slug: this.subwiki.slug,
        name: this.subwiki.subwikiLabel,
        parentSK: "subwiki#" + this.subwiki.slug,
      };
      if (!this.GET_FOLLOW_STATUS(this.followItem)) {
        this.FETCH_FOLLOW_STATUS(this.followItem);
      }
    }
  },
  computed: {
    ...mapGetters("UserStore", ["userSlug"]),

    ...mapGetters("FollowStore", [
      "GET_FOLLOW_STATUS",
      "GET_HAS_FOLLOW_LOADED",
      "GET_MEMORY",
    ]),
    is_viewing_user() {
      return (this.userProfile &&
        this.userProfile.slug &&
        this.userProfile.slug != this.userSlug) ||
        this.subwiki
        ? false
        : true;
    },
    NOTIFY_PREFERENCE: {
      get() {
        return this.GET_FOLLOW_STATUS(this.followItem)?.preferences
          ?.notification
          ? true
          : false;
      },
      set(value) {
        this.UPDATE_FOLLOW_NOTIFIATION_PREFERENCES({
          pk: this.GET_FOLLOW_STATUS(this.followItem).pk,
          sk: this.GET_FOLLOW_STATUS(this.followItem).sk,
          type: this.followItem.type,
          followSlug: this.followItem.slug,
          notification: value ? true : false,
        });
        this.handleDebouncedSave(this.getKey());
      },
    },
    EMAIL_PREFERENCES: {
      get() {
        return this.GET_FOLLOW_STATUS(this.followItem)?.preferences?.emails
          ? this.GET_FOLLOW_STATUS(this.followItem).preferences.emails
          : [];
      },
      set(value) {
        this.UPDATE_FOLLOW_EMAIL_PREFERENCES({
          type: this.followItem.type,
          followSlug: this.followItem.slug,
          list: value,
        });

        this.handleDebouncedSave(this.getKey());
      },
    },

    stateHasLoaded() {
      return this.GET_HAS_FOLLOW_LOADED.includes(
        this.followItem.type + "/" + this.followItem.slug
      );
    },

    contextButton() {
      if (
        typeof this.context != "undefined" &&
        typeof this.GET_CONTEXTS != "undefined" &&
        this.context != "" &&
        typeof this.GET_CONTEXTS[this.context] != "undefined" &&
        typeof this.GET_CONTEXTS[this.context].button != "undefined"
      ) {
        return this.GET_CONTEXTS[this.context].button;
      } else {
        return "UNKNOWN (undefined)";
      }
    },
  },
  methods: {
    ...mapActions("FollowStore", [
      "CREATE_FOLLOW_RELATIONSHIP",
      "DELETE_FOLLOW_RELATIONSHIP",
      "FETCH_FOLLOW_STATUS",
      "UPDATE_FOLLOW_EMAIL_PREFERENCES",
      "UPDATE_FOLLOW_NOTIFIATION_PREFERENCES",
      "SAVE_FOLLOW_EMAIL_CHOICES",
    ]),
    getKey() {
      return {
        key: this.GET_FOLLOW_STATUS(this.followItem).key,
        preferences: this.GET_FOLLOW_STATUS(this.followItem).preferences,
      };
    },
    toggleNotifications() {
      this.UPDATE_FOLLOW_NOTIFIATION_PREFERENCES({
        type: this.followItem.type,
        followSlug: this.followItem.slug,
        notification: this.GET_FOLLOW_STATUS(this.followItem)?.preferences
          ?.notification
          ? false
          : true,
      });
      this.handleDebouncedSave(this.getKey());
    },
    followThis() {},
    followWhat() {
      if (this.followItem.type == "userprofile") {
        return "user";
      } else if (this.followItem.type == "subwiki") {
        return "subwiki";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.v-input.email-preferences-select {
  max-width: 20em;
}
</style>
