<template>
    <!-- <v-row justify="space-around"> -->
      <v-row justify="left">
      <v-col cols="auto">
        <v-dialog
          transition="dialog-bottom-transition"
          width="auto"
          height="auto"
          location="top"
          v-model="dialog"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              color='wtsred'
            >Kick And Archive User</v-btn>
          </template>
          <!-- <template v-slot:default="dialog"> -->
            <template>
            <v-card>
              <v-card-title>Are you sure?</v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <div class="pa-4">Really kick {{ GET_USER_PROFILE(userSlug).fname }} {{ GET_USER_PROFILE(userSlug).lname }}?</div>
                <div v-if="GET_DEBUG.length" justify="center">
                  <ul v-for="(item, index) in GET_DEBUG" :key="index" style="color: red;">
              {{item}}
            </ul>
            </div>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="justify-end">
                <v-btn
                  text
                  @click="kickUserConfirm(userSlug)"
                >Confirm</v-btn>
                <v-btn
                  text
                  @click="closeModal()"
                >{{ $t("General.cancel") }}</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
    </v-row>
  </template>


<script>

import { mapGetters, mapActions } from "vuex";

export default {
    name: "KickUserButton",
    props: {
      userSlug: { type: String, required: false },
    },
    data: function () {
      return {
        dialog: false,
      };
    },
    components: {
    },
    computed: {
      ...mapGetters("UserProfileStore", ["GET_USER_PROFILE", "IS_MY_PROFILE"]),
      ...mapGetters("UserManagementStore", ["GET_DEBUG"]),
      getUserProfile() {
        return this.GET_USER_PROFILE(this.userSlug);
      },
    },
    methods: {
      ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),
      ...mapActions("UserManagementStore", ["KICK_USER"]),
      closeModal(){
        this.dialog = false
      },
      async kickUserConfirm(userSlug) {
        await this.KICK_USER(userSlug);
        if(!this.GET_DEBUG.length){
          this.closeModal() 
        }
        else{
            console.log("Oh no!")
        }},
    }}
  </script>