<template>
  <v-btn v-if="!GET_SHOW_POSTCREATE && isEmailVerified && isLoggedIn"
    elevation="0"
    :color="
      $vuetify.theme.dark
        ? [!GET_SHOW_POSTCREATE ? 'wtsgreen1 white--text' : 'grey darken-2'] +
          ''
        : [!GET_SHOW_POSTCREATE ? 'wtsgreen1 white--text' : 'grey lighten-2'] +
          ''
    "
    @click="SET_SHOW_POSTCREATE(!GET_SHOW_POSTCREATE)"
  >
    <template>
      <span class="mr-2 hidden-sm-and-down">
        <template v-if="!mode || mode != 'profile'">
          {{
            $t("General.new-post-button")
          }}
        </template>
        <template v-else>
          {{
          $t("Profile.leave-a-message")
        }}

        </template>
      </span>
      <v-icon small>fa-plus</v-icon>
    </template>
  </v-btn>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["mode"],

  watch: {
    GET_SHOW_POSTCREATE() {
      console.log('Change focus for the editor')
      if (window?.tinymce?.activeEditor) {
        window.tinymce.activeEditor.focus();
      }
    }
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "isEmailVerified",
    ]),
    ...mapGetters("InterfaceStore", [
      "GET_SHOW_POSTCREATE",
      "GET_MENU_DRAWER_OPEN",
    ]),
  },
  methods: {
    ...mapActions("InterfaceStore", [
      "SET_SHOW_POSTCREATE",
      "SET_MENU_DRAWER_OPEN",
    ]),
  },
};
</script>
