<template>
  <v-card outlined elevated="4" class="fill-height subwikicard">
    <v-card-title
      ><router-link
        :to="{
          name: 'Branch',
          params: { LANG: userLanguage, subwikiSlug: this.item.slug },
        }"
        :class="
          $vuetify.theme.dark ? 'onboardinglinkdark' : 'onboardinglinklight'
        "
        >{{ item.subwikiLabel }}
      </router-link
      ></v-card-title
    >
    <v-card-text>
      {{ this.item.subwikiDesc }}
    </v-card-text>
    <v-col>
      <v-row>
        <v-col
          align="left"
          fill-width       
          :class="$vuetify.theme.dark ? 'followdark' : 'followlight'"
        >
      <v-icon small color="orange" class="ml-1 mr-1">fa-users</v-icon>
      {{ $tc("Branch.member", this.item.statistics.totalFollowers) }}
      <v-icon small color="wtsred" class="ml-1 mr-1"> fa-comments</v-icon
      >{{ $tc("Branch.post", this.item.statistics.totalPosts) }}
      <v-icon small color="pink" class="ml-1 mr-1">fa-language</v-icon
      >{{ this.item.subwikiLang }}
          <FollowBtn v-if="this.item.slug && isLoggedIn" :subwiki="this.item"/>
        </v-col>
      </v-row>
    </v-col>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import FollowBtn from "./FollowBtn.vue";

export default {
  name: "SubwikiCard",
  props: ["item"],
  components: {
    FollowBtn,
  },
  data: function () {
    return {
      subwiki: {},
    };
  },
  mounted() {
    // this.getSubwikiDetails(this.item)
  },
  computed: {
    ...mapGetters("UserStore", ["userLanguage", "isLoggedIn"]),
    ...mapGetters("SubWikiStore", ["GET_SUBWIKI_CARD_DETAIL"]),
  },
  methods: {
    ...mapActions("SubWikiStore", ["FETCH_SUBWIKI_CARD_DETAIL"]),
    // getSubwikiDetails(slug){
    //   console.log(slug)
    //   console.log("Boop we got get subwiki details")
    //   let payload = {
    //       tosend: slug,
    //       type: "onboardingSubwikis"
    //     }
    //   this.FETCH_SUBWIKI_CARD_DETAIL(payload)
    // }
  },
};
</script>

<style scoped>
.subwikicard {
  overflow-wrap: normal;
}

.subwikicard .v-card__title {
  word-break: normal;
  display: block;
  text-align: center;
  line-height: 1.5;
  padding: 4px !important;
}

.subwikicard .v-card__subtitle {
  word-break: normal;
  text-align: left;
  font-size: 10px;
  padding: 4px !important;
}

.subwikicard .v-card__text {
  text-align: left;
  padding: 8px !important;
}

.onboardinglinkdark {
  text-decoration: none;
  color: white;
}

.onboardinglinklight {
  text-decoration: none;
  color: black;
}

.followdark {
  background-color: #6b6963;
}

.followlight {
  background-color: #f3f3f3;
}

.followbtn {
  float: right;
}
</style>
