<template>
<v-chip x-small :color="barColour()" class="white--text" :to="{ name: 'Home'}"><v-icon>fa-tree</v-icon><em>{{ MainTrunkLabel }}</em></v-chip>
</template>
<script>

export default {
    name: "TheTrunk",
    data: function () {
        return {
        MainTrunkLabel: "The Trunk",
        }
    },
    methods: {
        barColour() {
        return this.$vuetify.theme.dark ? "wtsgreen2 darken-4" : "wtsgreen2 darken-4 ";
        },
    }

}
</script>