<template>
  <span :class="'btnStatus-'+(btnStatus.vote ? btnStatus.vote : 'none')">
    <template v-if="parentItem">
      <v-icon class="pr-1" v-on:click.prevent="buttonHandler('down')"
        :color="btnColor('down')">{{ iconText('down') }}</v-icon>
        <v-chip small :color="counterColour()" :class="(counterColour() == 'grey' ? 'black' : 'white') + '--text'">{{ voteValueSum }}</v-chip>
        <v-icon class="pl-1" v-on:click.prevent="buttonHandler('up')"
        :color="btnColor('up')">{{ iconText('up') }}</v-icon>
    </template>
    
  </span>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: ["voteFor", "voteValueSumInput"],
  data: function () {
    return {
      btnStatus: {
        vote: null,
        votevalue: null,
      },
      voteValueSum: 0,
      parentItem: null,
    };
  },
  computed: {
    ...mapGetters("VoteStore", ["GET_VOTE_STATUS"]),
    ...mapGetters("UserStore", ["userSlug", "userVoteValue"]),
  },
  mounted() {
    this.init();
  },
  
  methods: {
    ...mapActions("VoteStore", ["CAST_VOTE", "ARCHIVE_VOTE"]),
    init() {
      if (this.voteValueSumInput) {
        this.voteValueSum = this.voteValueSumInput;
      }
      if (this.voteFor) {
        this.parentItem = this.voteFor;
        this.btnStatus = this.GET_VOTE_STATUS(this.parentItem.sk);
      }
    },
    counterColour() {
        if (this.voteValueSum < 0) {
          if(!this.$vuetify.theme.dark){
            return 'wtslightgrey';
          }
          else{
            return 'wtsblack'
          }
      } else {
        return 'wtsdarkgrey';
      }
    },
    buttonHandler(btn) {
      console.log(btn)
      if(btn === this.btnStatus.vote){
        this.ARCHIVE_VOTE({ userslug: this.userSlug, parent: this.parentItem });
        this.btnStatus = {
          vote: null,
          votevalue: null,
        }
        if(btn === "up"){
          this.changeVoteCount("down", this.userVoteValue)
        }
        else{
          this.changeVoteCount("up", this.userVoteValue)
        }
      
      }
      else{
        if(this.btnStatus.vote == null){
          this.btnStatus = {
             vote: btn
            }
        this.CAST_VOTE({ vote: btn, parent: this.parentItem });
        this.changeVoteCount(btn, this.userVoteValue)
        }
        else{
          this.CAST_VOTE({ vote: btn, parent: this.parentItem });
          let newvoteValue = this.userVoteValue*2
          this.btnStatus = {
             vote: btn
            }
            this.changeVoteCount(btn, newvoteValue)
        }
        
        
      }
    },
    changeVoteCount(upordown, voteValue){
      if(upordown === "down"){
        this.voteValueSum -= voteValue
      }
      else{
        this.voteValueSum += voteValue
      }
    },
    btnColor(button) {
      if (this.parentItem.sk) {
        if (this.btnStatus?.vote == button && button == 'up') {
          return "wtsgreen2";
        } else if (this.btnStatus?.vote == button && button == 'down') {
          return "wtsred";
        } else {
          return "wtsdarkgrey";
        }
      } else {
        return "red";
      }
    },
    // changeVoteTally(vote, ){
    //   if(vote === 'up'){
    //     this.voteValueSum += 
    //   }
    // },
    iconText(button) {
      let txt = "fa-arrow-circle-" 
      if (this.parentItem.sk) {
        if (this.btnStatus?.vote == button) {
          txt += "o-";
        }
      }
      txt += button;
      return txt;
    },
  },
};
</script>
<style lang="scss" scoped></style>
